*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-inline: 17px 20px;
}
h1{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    text-align: center;
}
.container{
    background-color:cornsilk;
    padding: 5% 5% 5% 5%;
    border: 10px solid darkblue;
    border-radius: 4px;
    align-items: center;
    width: fit-content;
    color:darkgreen;
    margin:0 auto;
    
}
input [type= "text"],
input [type="button"],
input [type="email"],
input [type="password"],
input [type="password"]
{
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  text-align: center;
}

h2{
    background-color: paleturquoise;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: purple;
    text-align: center;
}
/* form{
    text-align: center;
} */
input [type="submit"]{
    width:100%;
    background-color: darkseagreen;
    color: floralwhite;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-4 {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
.gradient-button-4:hover { background-position: right center; }